.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  
}

.card {
  display: flex;
  background-color: var(--white-color);
  padding: 2rem;
  margin: 1rem;
  cursor: pointer;
  width: 100%;
  max-width: var(--max-width);
}

.card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.description {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
}