.productContainer {
  display: flex;
  justify-content: center;
}

.productCard {
  display: flex;
  margin: 2rem 4rem;
  padding: 2rem;
  border-radius: 4px;
  background-color: var(--color-white);
  max-width: var(--max-width);
}

.mainProductSection {
  max-width: 70%;
}

.productImageContainer {
  display: flex;
  justify-content: center;
}

.productImage {
  height: auto;
  max-width: 100%;
}

.productDescriptionContainer {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.productLabel {
  font-size: 0.8rem;
}

@media (max-width: 860px) {
 .productCard {
    flex-direction: column;
  }

  .mainProductSection {
    max-width: 100%;
  }

  .secondaryProductSection {
    margin-top: 2rem;
  }
}
