.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.card {
  display: flex;
  background-color: var(--white-color);
  padding: 2rem;
  cursor: pointer;
  width: 100%;
  max-width: var(--max-width);
}

.card:not(:last-child) { 
  border-bottom: 1px solid var(--gray-color);
}

.card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.description {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
}