.searchContainer {
  width: 100%;
  background-color: var(--yellow-color);
  position: sticky;
  top: 0;
}

.searchInnerContainer {
  display: flex;
  justify-content: center;
  max-width: var(--max-width);
  margin: 1rem 4rem;
  width: 100%;
}

.logo {
  cursor: pointer;
  height: 2rem;
  margin-right: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.searchContainer {
  display: flex;
  justify-content: center;
  background-color: var(--yellow-color);
}

.searchForm {
  display: flex;
  width: 100%;
}

.searchInput {
  padding: 8px 12px;
  color: var(--black-color);
  flex-grow: 1;
  height: 100%;
  border: none;
}

.searchInput:focus {
  outline: none;
}

.searchInput::placeholder {
  color: var(--gray-400-color);
  opacity: 1; /* Firefox */
}

.searchButton {
  border: none;
  border-radius: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.6rem;
  border-left: 1px solid var(--gray-color);
  background-color: var(--gray-color);
}